@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-yellow: #ebbd38;
  --light-yellow: #f5de9b;
  --dark-red: #702715;
  --dark-brown: #29230f;
  --white: white;
}

body {
  margin: 0px;
  min-width: 20rem;
}

h1 {
  margin: 0.5rem;
  padding: 0 0.75rem;
  font-family: "Lobster Two", cursive;
  font-size: clamp(2.2rem, 10vw, 3.5rem);
  text-align: center;
  color: var(--dark-brown);
}

h1 strong {
  display: block;
  font-size: 50%;
  opacity: 0.6;
}

p {
  display: block;
  margin: 0.5rem 0;
  padding: 0 1rem;
  max-width: 36rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  color: var(--dark-brown);
}

.header {
  padding: 1rem 0 0.5rem;
  min-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo {
  width: 12rem;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.2rem;
}

.spacer {
  aspect-ratio: 960/80;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @supports not (aspect-ratio: auto) {
    min-height: 80px;
  }
}

.yellow {
  background-color: var(--light-yellow);
}

.dark-brown {
  background-color: var(--dark-brown);
}

.dark-brown p {
  color: var(--main-yellow);
}

.white-to-yellow-wave {
  background-image: url("../assets/white-to-yellow-wave.svg");
}

.white-to-brown-wave {
  background-image: url("../assets/white-to-brown-wave.svg");
}

.yellow-to-white-wave {
  background-image: url("../assets/yellow-to-white-wave.svg");
}

a {
  color: var(--dark-brown);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--dark-yellow);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

a:focus,
a:hover,
a:active {
  background-color: var(--main-yellow);
}

.button {
  display: inline-block;
  margin: 0.75rem;
  padding: 0.75rem 1.5rem;
  min-width: 15rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  background-color: var(--dark-brown);
  color: var(--white);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 150ms ease-out;
}

.button:focus,
.button:hover {
  background-color: var(--dark-brown);
  box-shadow: 0 0 0 0.1875rem var(--white), 0 0 0 0.375rem var(--dark-red);
}

.button:active {
  background-color: var(--dark-brown);
  box-shadow: 0 0 0 0.1875rem var(--dark-red), 0 0 0 0.375rem var(--dark-red);
  transition-duration: 75ms;
}

.button.is-outlined {
  border: 0.1875rem solid var(--dark-brown);
  background-color: transparent;
  color: var(--dark-brown);
}

.button.is-outlined:focus,
.button.is-outlined:hover,
.button.is-outlined:active {
  border-color: var(--dark-brown);
  color: var(--dark-brown);
}
